.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    height: fit-content;
    z-index: 10;
}

.active {
    color: #7d6fff;
    font-weight: bold;
}

.purple {
    background-color: #7d6fff;
    border-radius: 1rem;
    width: fit-content;
    height: fit-content;
}

